<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
    <link rel="icon" type="image/png" href="{{ url_for("static", filename="mining.png") }}">
</head>
<body>
    <div class="topnav">
            <a class="{% if active=="home" %}active{%endif %}" href="https://bi2a3.azurewebsites.net/">Home</a>
            <a class="{% if active=="query_input" %}active{%endif %}" href="https://bi2a3.azurewebsites.net/query">Insert query</a>
    </div>
    {% block content %}
{% endblock %}
</body>
</html>