<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
    <title>Hello Flask!</title>
</head>
<body>
<h1>Hello Flask!</h1>
<h2><b>(⊙_⊙)？</b></h2>
<br>
<p>No worries, vanuit hier kan alleen maar verbeterd worden (╹ڡ╹ )</p>
</body>
</html>