{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block content %}
    Hi, hier kan een query van Advanced PubMed worden ingevoerd.
    test
    https://pubmed.ncbi.nlm.nih.gov/advanced/
    <a href="https://www.buienradar.nl" target="_blank"><img border="0"
                                                             src=" https://image.buienradar.nl/2.0/image/single/RadarMapRainNL?height=120&width=120&renderBackground=True&renderBranding=False&renderText=True"></a>
{% endblock %}